@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&family=Open+Sans&display=swap');

$main_background1:hsl(222, 26%, 31%);
$display_background1:hsl(224, 36%, 15%);
$keyboard_background1: hsl(223, 31%, 20%);
$border_radius: 8px;

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'League Spartan', sans-serif;
    background: $main_background1;
    font-size: 32px;
    font-weight: 700;
}


/* width */
::-webkit-scrollbar {
    height: 6px;
    border-radius: 4px;
    position: absolute;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(225, 21%, 49%);
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    max-width: 432px;
    height: 568px;
    grid-template-rows: 40px 102px auto;
    row-gap: 20px;

}

.calc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
    font-size: 24px;
}

.calc-calc {
    padding: 6px 0 0 6px;
}

.theme-choise {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
}

.swither-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.swither-labels {
    display: flex;
    justify-content: space-between;
    padding: 0 8px 0 10px;
}


.calc-display {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 26px;
    background: $display_background1;
    border-radius: $border_radius;
    color: #fff;
    font-size: 44px;
    overflow-x: auto;
}

.calc-keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 26px 26px 30px 24px;
    gap: 20px;
    row-gap: 22px;
    background: $keyboard_background1;
    border-radius: $border_radius;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: hsl(221, 14%, 31%);
        background: hsl(30, 25%, 89%);
        padding: 5px 4px 0px 4px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0.5px 3px hsl(28, 16%, 65%);
        transition: all .2s ease;
        user-select: none;
    }

    
    @mixin sp($background, $shadow_color) {
        color: hsl(0, 0%, 100%);
        background: $background;
        font-size: 22px;
        padding: 16px 4px 12px 4px;
        box-shadow: 0 3px $shadow_color
    }
    
    .keyboard-del, .keyboard-reset{
        @include sp(hsl(225, 21%, 49%), hsl(224, 28%, 35%));
    }
    
    .keyboard-eq {
        @include sp(hsl(6, 63%, 50%), hsl(6, 70%, 34%));
    }
    
    div:active {
        transform: translateY(3px);
        box-shadow: 0 0;
    }
    
    div:hover {
        background: #fff;
    }
    
    .keyboard-del:hover, .keyboard-reset:hover{
        background:hsl(224, 51%, 76%)
    }
    
    .keyboard-eq:hover {
        background: hsl(6, 93%, 67%)
    }
}


.keyboard-reset {
    grid-column-start: 1;
    grid-column-end: 3;
}

.keyboard-eq {
    grid-column-start: 3;
    grid-column-end: 5;
}

@media (max-width: 576px) {
    .wrap {
      margin: 20px 32px;
      height: 93vh;
      grid-template-rows: 44px 86px auto;
    }
  
    .calc-calc {
        padding: 0;
        font-size: 28px;
    }
    .calc-keyboard {
      gap: 12px;
      row-gap: 14px;   

        .keyboard-reset, .keyboard-eq {
            padding: 24px 0;
        }
    }
  
    .theme-choise {
      font-size: 14px;
    }



  }